@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

.toupper {
    text-transform: uppercase;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a, p, li {
    font-family: 'Open Sans', sans-serif;
}

li {
    line-height: 35px;
}

ul {
    margin-left: 5%;
    margin-top: 15px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 50px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

/* hyperlink styling */

a {
	text-decoration: none;
}

.shadow {
    box-shadow: 5px 5px 20px 1px #888888;
}

.none {
    display: none;
}

.button1 {
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 0 5px 1px #888888;
}

/***************************** 
** index.php grid 
******************************/
.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-areas: 
        "header"
        "mainnavbar"
        "indexsearch"
        "main"
        "membership"
        "footer";
    align-items: center;
    align-self: center;
}

/* header styling */
header {
    grid-area: header;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
    grid-template-columns: 25% 55% auto auto;
    grid-gap: 5px;
    min-height: 75px;
    align-items: center;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-template-areas: 
        "mainlogo navlinks searchboxnav name";
}

header .main-logo {
    grid-area: mainlogo;
}

header .navlinks {
    grid-area: navlinks;
    text-align: center;
    padding: 0;
    margin: 0;
}

header .navlinks section {
    display: inline-block;
    padding: 20px;
}

header .searchbox {
    grid-area: searchboxnav;
    position: relative;
    text-align: right;
    margin: auto;
}

header .name {
    grid-area: name;
    text-align: right;
    margin: auto;
}

header i {
    color: red;
}

header a {
    color: #fff;
}

header a:hover {
    border-bottom: 1px solid #fff;
}

header .main-logo h1 {
    font-size: 25px;
    margin-left: 15px;
}

header .search {
    text-align: center;
    font-size: 25px;
}

header .search i {
    position: absolute;
    background-color: #fff;
    font-size: 20px;
    color: #000;
    margin-top: 6px;
    margin-left: -2px;

}

header .search label {
    font-size: 15px;
}

header .name {
    text-align: right;
    margin-right: 25px;
    
}

header .name a {
    font-size: 15px;
}

.mainnav {
    grid-area: mainnavbar;
    grid-template-columns: auto 1fr auto;
    display: grid;
    padding: 25px;
    text-align: center;
    line-height: 1em;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.mainnav .mainNavLogo {
    color: red;
}

.mainnav a {
    padding: 1em;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    height: 5px;
    padding: 5px 5px 5px 5px;
}

.indexsearch {
    grid-area: indexsearch;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 400px;
    background-color: azure;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.indexsearch h1 {
    padding-bottom: 50px;
}

.indexsearch  ::-webkit-input-placeholder {
    text-align: center;
}

.indexsearch  :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

.indexsearch  ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

.indexsearch  :-ms-input-placeholder {  
    text-align: center; 
}

.indexsearch input {
    background-color: #fff;
    border: none;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    box-shadow: 0 0 3px 3px #ccc;
    border-radius: 15px 15px 15px 15px;
    width: 500px;
    height: 35px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 5px;
    grid-template-areas: 
        "intro introimages";
    justify-content: center;
}

.main a {
    color: #000;
}

.main .intro {
    grid-area: intro;
}

.main #staticImg {
    grid-area: introimages;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto 1fr;
    width: 100%;
    grid-gap: 2.5em;
    justify-items: center;
}

.main #staticImg > img {
    max-width: 100%;
    height: 100%;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    justify-content: center;
    align-self: center;
    align-items: center;
}

#member {
    background-color: antiquewhite;
    grid-area: membership;
    min-width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 5px;
    grid-template-areas: 
        "memberheader memberheader"
        "memberrequest memberinfo";
    justify-content: center;
}

#member > h3 {
    font-family: "Google Sans",Arial,sans-serif;
}

#member .memberheader {
    grid-area: memberheader;
    text-align: center;
}

#member .memberinfo {
    grid-area: memberinfo;
}

#member .memberrequest {
    grid-area: memberrequest;
}

.reg-textarea * {
  vertical-align: top;
}

#member .memberrequest form.regform {
    display: table;
}

#member .memberrequest div.regform {
    display: table-row;
}

#member .memberrequest label, #member .memberrequest input {
    display: table-cell;
    margin-bottom: 10px;
}

#member .memberrequest label {
    padding-right: 10px;
}

#member .memberrequest i, #member span {
    padding-left: 10px;
    color: red;
    font-size: 9px;
}

#member span {
    font-size: 15px;
}

.main .intro {
    grid-area: intro;
    line-height: 2em;
    max-width: 100%;
}

/* Search results style */

.search-wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto auto 1fr 50px;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "mainnav"
        "adminnav"
        "smain"
        "footer";
}

.search-header {
    grid-area: header;
}

.search-wrapper .mainnav {
    grid-area: mainnav;

}

.adminnav {
    grid-area: adminnav;
    display: grid;
    grid-template-columns: 30% 30% 35%;
    grid-gap: 1em;
    grid-template-areas: 
        "navpart navother navuser";
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 35px;
}

.adminnav a {
    font-size: 15px;
    padding: 10px;
    line-height: 5px;
}

.navPartManagement {
    grid-area: navpart;
    text-align: left;
    margin-left: 10px;
}

.navOther {
    grid-area: navother;
    text-align: center;
}

.navUserManagement {
    grid-area: navuser;
    text-align: right;
}

.search-main {
    grid-area: smain;
    margin-top: 15px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 20px;
    grid-template-areas: 
        "searchname"
        "searchgrid";
    justify-content: center;
}

.slogo-search {
    grid-area: searchname;
}

.search-grid {
    grid-area: searchgrid;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    grid-template-areas: 
        "simages sproductinfo";
    justify-content: center;
}

.skuimages {
    grid-area: simages;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto 1fr;
    width: 100%;
    grid-gap: 2.5em;
    justify-items: center;
}

.skuimages figure img {
    height: 300px;
    margin-left: 15px;
    object-fit: cover;
}

.skuimages figure {
    max-width: 100%;
    margin-left: 15px;
    object-fit: cover;
}

.skuimages figcaption {
    padding: 2px;
    width: 100%;
    color: #000;
    font-size: 20px;
    text-align: center;
}

.imagemessage {
    color: red;
    font-weight: 600;
}

.search-part-info {
    grid-area: sproductinfo;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 1fr;
    grid-gap: 0;
    grid-template-areas: 
        "export"
        "skudetails";
    justify-content: center;
}

.search-part-info .export-data {
    grid-area: export;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
        "excel skulist";
}

.search-part-info .export-data * {
    font-size: 15px !important;
}

.search-part-info .export-data .excel {
    grid-area: excel;
}

.search-part-info .export-data .addtolist {
    grid-area: skulist;
    text-align: right;
}

.search-part-info .export-data .excel {
    text-align: left;
}

.search-part-info .export-data .excel li {
    display: inline;
    line-height: 0;
    padding-right: 10px;
}

.search-part-info .export-data .excel ul {
    margin: 0;
    line-height: 0;
}

.search-part-info .skudetails {
    grid-area: skudetails;
    box-shadow: 5px 10px #888888;
}

.search-wrapper table, .search-wrapper table th, .search-wrapper table td,  .search-wrapper table tr{
    /* order: 5px solid black; */
    text-align: left;
}

.search-wrapper table th {
    width: 200px;
    padding-right: 15px;
}

.search-wrapper table {
    margin-bottom: 25px;
}

.skudetails {
    border: 1px solid #000;
    padding: 10px;
}

.skudetails tr {
    height: 25px;
}

.search-part-info thead th {
    font-size: 20px;
    border-radius: 0 50px 0 0;
    background-color: #4CAF50;
    vertical-align: middle;
    height: 30px;
    color: #fff;
    padding-left: 10px;
}

.indent50 {
    margin-left: 50px;
}

footer {
    grid-area: footer;
    color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    align-items: center;
    text-align: center;
    background-color: #333;
    z-index: 1;
}

/* login form style */

.login-wrap {
	display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(5, 100px);
    height: 600px;
    grid-gap: 10px;
	align-self: center;
    justify-self: center;
	overflow: hidden;
	text-align: center;
    grid-template-areas: 
        "a a a"
        "b b b"
        "c c c"
		"d d d"
        "e e e";
}

.login-wrap .a {
	grid-area: a;
	width: 100%;
	align-self: center;
    justify-self: center;
	text-align: center;
}

.login-wrap h1 {
	font-size: 25px;
}

.login-wrap form {
	width: 500px;
	margin-left: 50px;
}

.login-wrap form input {
	width: 290px;
	margin-bottom: 20px;
}

.login-wrap .b {
	grid-area: b;
}

.login-wrap .c {
	grid-area: c;
}

.login-wrap .d {
	grid-area: d;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 25px;
}

.login-wrap .e {
	grid-area: e;
    text-align: center;
}

.login-wrap .f {
	grid-area: f;
}

.login-wrap .emailError, .login-wrap .passwordError {
	position: absolute;
	margin-left: 10px;
	color: red;
}

.login-wrap .captchaError {
	margin-left: 10px;
	color: red;
}

/***************************************
*
*
* START MEDIA QUERIES
*
*
****************************************/
/* Change styles for span and cancel button on extra small screens */


@media screen and (max-width: 1200px) {
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        
        grid-gap: 5px;
        grid-template-areas: 
            "mainlogo"
            "navlinks" 
            "searchboxnav" 
            "name";
    }
    
    header .main-logo h1{
        font-size: 15px;
    }

    header .navlinks {
        grid-area: navlinks;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    header .navlinks section {
        display: inline-block;
        padding: 5px;
    }
    
    header .searchbox {
        grid-area: searchboxnav;
        position: relative;
        text-align: center;
        margin: 0;
    }

    header .name {
        grid-area: name;
        text-align: center;
        margin: 0;
    }
    
    .navlinks section {
        margin: 0;
        padding: 0;
    }
    
    .main {
        min-width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 5px;
        grid-template-areas: 
            "intro" 
            "introimages";
        justify-content: center;
    }
    
    #member {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 5px;
        grid-template-areas: 
            "memberheader"
            "memberrequest" 
            "memberinfo";
        justify-content: center;
    }
    
    .indexsearch input {
        width: 200px;
        height: 35px;
    }
    
    .search-grid {
        grid-template-columns: auto;
        grid-template-areas: 
            "sproductinfo"
            "simages";
    }
    
    .skuimages {
        grid-area: simages;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: auto 1fr;
        width: 100%;
        grid-gap: 2.5em;
        justify-items: center;
    }

    .skuimages figure img {
        height: 200px;
        margin-left: 15px;
        object-fit: cover;
    }

    .skuimages figure {
        max-width: 100%;
        margin-left: 15px;
        object-fit: cover;
    }

    .skuimages figcaption {
        padding: 2px;
        width: 100%;
        color: #000;
        font-size: 20px;
        text-align: center;
}
    
}