@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

.toupper {
    text-transform: uppercase;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a, p, li {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

li {
    line-height: 35px;
}

ul {
    margin-left: 5%;
    margin-top: 15px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 50px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

/* hyperlink styling */

a {
	text-decoration: none;
}

.shadow {
    box-shadow: 5px 5px 20px 1px #888888;
}

.none {
    display: none;
}

.button1 {
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 0 5px 1px #888888;
}

/***************************** 
** index.php grid 
******************************/
.wrapper {
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: repeat(100%, minmax(100px, 1fr));
    grid-template-rows: repeat(1, minmax(50px, 1fr));
    grid-template-areas: 
        "header"
        "mainnavbar"
        "indexsearch"
        "main"
        "membership"
        "footer";
    align-items: center;
    align-self: center;
}

/* header styling */
header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    align-items: center;
    font-size: 2em;
}

header i {
    color: red;
}

.main-logo h1 {
    font-size: 25px;
    margin-left: 15px;
}

header .search {
    text-align: center;
    font-size: 25px;
}

header .search label {
    font-size: 15px;
}

header .name {
    text-align: right;
    margin-right: 15px;
}

header .name a {
    font-size: 15px;
}

.mainnav {
    grid-area: mainnavbar;
    grid-template-columns: auto 1fr auto;
    display: grid;
    padding: 25px;
    text-align: center;
    line-height: 1em;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.mainnav .mainNavLogo {
    color: red;
}

.mainnav a {
    padding: 1em;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    height: 5px;
    padding: 5px 5px 5px 5px;
}

.indexsearch {
    grid-area: indexsearch;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 400px;
    background-color: azure;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.indexsearch h1 {
    padding-bottom: 50px;
}

.indexsearch  ::-webkit-input-placeholder {
    text-align: center;
}

.indexsearch  :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

.indexsearch  ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

.indexsearch  :-ms-input-placeholder {  
    text-align: center; 
}

.indexsearch input {
    background-color: #fff;
    border: none;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    box-shadow: 0 0 3px 3px #ccc;
    width: 500px;
    height: 35px;
}

.main {
    grid-area: main;
    min-width: 100%;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    grid-template-columns: 45% 45%;
    grid-gap: 5px;
    grid-template-areas: 
        "intro introimages";
    justify-content: center;
}

.main #staticImg {
    grid-area: introimages;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto 1fr;
    width: 100%;
    grid-gap: 2.5em;
    justify-items: center;
}

.main #staticImg > img {
    max-width: 100%;
    height: 100%;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    justify-content: center;
    align-self: center;
    align-items: center;
}

#member {
    background-color: antiquewhite;
    grid-area: membership;
    min-width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 5px;
    grid-template-areas: 
        "memberheader memberheader"
        "memberrequest memberinfo";
    justify-content: center;
}

#member > h3 {
    font-family: "Google Sans",Arial,sans-serif;
}

#member .memberheader {
    grid-area: memberheader;
    text-align: center;
}

#member .memberinfo {
    grid-area: memberinfo;
}

#member .memberrequest {
    grid-area: memberrequest;
}

.reg-textarea * {
  vertical-align: top;
}

#member .memberrequest form.regform {
    display: table;
}

#member .memberrequest div.regform {
    display: table-row;
}

#member .memberrequest label, #member .memberrequest input {
    display: table-cell;
    margin-bottom: 10px;
}

#member .memberrequest label {
    padding-right: 10px;
}

#member .memberrequest i, #member span {
    padding-left: 10px;
    color: red;
    font-size: 9px;
}

#member span {
    font-size: 15px;
}

.main .intro {
    grid-area: intro;
    line-height: 2em;
    max-width: 100%;
}

/* Search results style */

.search-wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto auto 1fr 50px;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "mainnav"
        "adminnav"
        "smain"
        "footer";
}

.search-header {
    grid-area: header;
}

.search-wrapper .mainnav {
    grid-area: mainnav;

}

.adminnav {
    grid-area: adminnav;
    display: grid;
    grid-template-columns: 30% 30% 35%;
    grid-gap: 1em;
    grid-template-areas: 
        "navpart navother navuser";
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 35px;
}

.adminnav a {
    font-size: 15px;
    padding: 10px;
    line-height: 5px;
}

.navPartManagement {
    grid-area: navpart;
    text-align: left;
    margin-left: 10px;
}

.navOther {
    grid-area: navother;
    text-align: center;
}

.navUserManagement {
    grid-area: navuser;
    text-align: right;
}

.search-main {
    grid-area: smain;
    margin-top: 15px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 20px;
    grid-template-areas: 
        "searchname"
        "searchgrid";
    justify-content: center;
}

.slogo-search {
    grid-area: searchname;
}

.search-grid {
    grid-area: searchgrid;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    grid-template-areas: 
        "simages sproductinfo";
    justify-content: center;
}

.skuimages {
    grid-area: simages;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto 1fr;
    width: 100%;
    grid-gap: 2.5em;
    justify-items: center;
}

.skuimages figure img {
    height: 300px;
    margin-left: 15px;
    object-fit: cover;
}

.skuimages figure {
    max-width: 100%;
    margin-left: 15px;
    object-fit: cover;
}

.skuimages figcaption {
    padding: 2px;
    width: 100%;
    color: #000;
    font-size: 20px;
    text-align: center;
}

.imagemessage {
    color: red;
    font-weight: 600;
}

.search-part-info {
    grid-area: sproductinfo;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 1fr;
    grid-gap: 0;
    grid-template-areas: 
        "export"
        "skudetails";
    justify-content: center;
}

.search-part-info .export-data {
    grid-area: export;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
        "excel skulist";
}

.search-part-info .export-data * {
    font-size: 15px !important;
}

.search-part-info .export-data .excel {
    grid-area: excel;
}

.search-part-info .export-data .addtolist {
    grid-area: skulist;
    text-align: right;
}

.search-part-info .export-data .excel {
    text-align: left;
}

.search-part-info .export-data .excel li {
    display: inline;
    line-height: 0;
    padding-right: 10px;
}

.search-part-info .export-data .excel ul {
    margin: 0;
    line-height: 0;
}

.search-part-info .skudetails {
    grid-area: skudetails;
    box-shadow: 5px 10px #888888;
}

.search-wrapper table, .search-wrapper table th, .search-wrapper table td,  .search-wrapper table tr{
    /* order: 5px solid black; */
    text-align: left;
}

.search-wrapper table th {
    width: 200px;
    padding-right: 15px;
}

.search-wrapper table {
    margin-bottom: 25px;
}

.skudetails {
    border: 1px solid #000;
    padding: 10px;
}

.skudetails tr {
    height: 25px;
}

.search-part-info thead th {
    font-size: 20px;
    border-radius: 0 50px 0 0;
    background-color: #4CAF50;
    border-color: #000 #000 0 0;
    vertical-align: middle;
    height: 30px;
    color: #fff;
    padding-left: 10px;
}

.indent50 {
    margin-left: 50px;
}

footer {
    grid-area: footer;
    color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    align-items: center;
    text-align: center;
    background-color: #333;
    z-index: 1;
}

/* login form style */

.login-wrap {
	display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(5, 100px);
    height: 600px;
    grid-gap: 10px;
	align-self: center;
    justify-self: center;
	overflow: hidden;
	text-align: center;
    grid-template-areas: 
        "a a a"
        "b b b"
        "c c c"
		"d d d"
        "e e e";
}

.login-wrap .a {
	grid-area: a;
	width: 100%;
	align-self: center;
    justify-self: center;
	text-align: center;
}

.login-wrap h1 {
	font-size: 25px;
}

.login-wrap form {
	width: 500px;
	margin-left: 50px;
}

.login-wrap form input {
	width: 290px;
	margin-bottom: 20px;
}

.login-wrap .b {
	grid-area: b;
}

.login-wrap .c {
	grid-area: c;
}

.login-wrap .d {
	grid-area: d;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 25px;
}

.login-wrap .e {
	grid-area: e;
    text-align: center;
}

.login-wrap .f {
	grid-area: f;
}

.login-wrap .emailError, .login-wrap .passwordError {
	position: absolute;
	margin-left: 10px;
	color: red;
}

.login-wrap .captchaError {
	margin-left: 10px;
	color: red;
}

/************************************
/ search history style
/************************************/

.search-history a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none; 
}
.search-history a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration:none;
}
.search-history a:active,
.search-history a:hover {
	color: #bd5a35;
	text-decoration:underline;
}

.search-history {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

.search-history th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.search-history th:first-child {
	text-align: left;
	padding-left:20px;
}
.search-history tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.search-history tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.search-history tr {
	text-align: center;
	padding-left:20px;
}
.search-history td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.search-history td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.search-history tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.search-history tr:last-child td {
	border-bottom:0;
}
.search-history tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.search-history tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.search-history tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);



/***************************************
*
*
* START MEDIA QUERIES
*
*
****************************************/
/* Change styles for span and cancel button on extra small screens */

/*
@media screen and (max-width: 1300px) {
    span.psw {
        display: block;
        float: none;
    }
    
    .cancelbtn {
        width: 100%;
    }
    
    .wrapper {
        display: grid;
        grid-template-areas: 
            "header"
            "mainnavbar"
            "main"
            "footer";
        justify-content: center;
    }
    
    
    .main {
        grid-area: main;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
        grid-template-areas: 
            "intro" 
            "introimages";
        justify-content: center;
    }
    
    .main .intro {
        grid-area: intro;
        line-height: 2em;
        max-width: 100%;
        margin-left: 15px;
    }

    .main .intro ul {
        margin-left: 5%;
        margin-top: 15px;
    }

    .main #staticImg {
        grid-area: introimages;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-template-rows: auto 1fr;
        width: 100%;
        grid-gap: 2.5em;
        justify-items: center;
    }
    
    #slideshow {
        justify-content: center;
        align-self: center;
    }

    .banner-text {
        font-size: 25px;
    }
    
    .main-logo h1 {
        font-size: 25px;
    }
    
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        grid-template-areas: 
            "a c d";
    }

    header .main-logo {
        grid-area: a;
        text-align: left;
        grid-column: 1 / 12;
        font-size: 5px;
    }

    .main-logo h1 {
        font-size: 15px;
    }

    header .search {
        grid-area: c;
        text-align: center;
        grid-column: 1 / 12;
        font-size: 25px;
    }

    header .name {
        grid-area: d;
        text-align: right;
        grid-column: 1 / 12;
    }
    
  .search-main {
        grid-area: smain;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 90%;
        grid-gap: 20px;
        grid-template-areas: 
            "searchname"
            "searchgrid";
        justify-content: center;
    }

    .slogo-search {
        grid-area: searchname;
    }

    .search-grid {
        grid-area: searchgrid;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 20px;
        grid-template-areas: 
            "sproductinfo"
            "simages";
        justify-content: center;
    }
    
}
/*