@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box; /* CSS 3 rec */
    -moz-box-sizing: border-box; /* Firefox 2 */
    -ms-box-sizing: border-box; /* Internet Explorer 8 */
    -webkit-box-sizing: border-box; /* Safari 3 */
    -khtml-box-sizing: border-box; /* Konqueror */
}

.navHam {
    display: none;
}

.center {
    text-align: center;
}

.toupper {
    text-transform: uppercase;
}

html, body {
    margin: 0;
}

a, p, li {
    font-family: 'Open Sans', sans-serif;
}

li {
    line-height: 35px;
}

ul {
    margin-left: 5%;
    margin-top: 15px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 50px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}
/* hyperlink styling */

a {
	text-decoration: none;
	color: #000;
}

a:hover {
    border-bottom: 1px solid #fff;
}

.shadow {
    box-shadow: 5px 5px 20px 1px #888888;
}

.button1 {
	border-bottom: 1px solid #fff;
}

/***************************** 
** index.php grid 
******************************/
.wrapper {
    display: grid;
    min-height: 100vh;
    min-width: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "adminnavbar header"
        "adminnavbar main"
        "adminnavbar footer";
}

/* header styling */
header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    min-width: 100%;
    color: #fff;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-template-areas: 
        "mainlogo navlinks searchboxnav name"
        "adminextra adminextra adminextra adminextra";
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 1;
}

header .admin-extra {
    grid-area: adminextra;
    margin-left: 15px;
}

.toggle {
    left: -250px;
}


header .admin-ham i {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

header .main-logo {
    grid-area: mainlogo;
    grid-column: 1 / span 5 ;
}

header .navlinks {
    grid-area: navlinks;
    grid-column: 6 / span 3;
    text-align: center;
    padding: 0;
    margin: 0;
}

header .navlinks section {
    display: inline-block;
    padding: 20px;
}

header .searchbox {
    grid-area: searchboxnav;
    grid-column: 11 / span 1;
}

header .name {
    grid-area: name;
    grid-column: 12 / span 1;
    text-align: right;
}

header i {
    color: red;
}

header a {
    color: #fff;
}

header a:hover {
    border-bottom: 1px solid #fff;
}

header .main-logo h1 {
    font-size: 25px;
    margin-left: 15px;
}

header .search {
    text-align: center;
    font-size: 25px;
}

header .search i {
    position: absolute;
    background-color: #fff;
    font-size: 20px;
    color: #000;
    margin-top: 6px;
    margin-left: -2px;
}

header .search label {
    font-size: 15px;
}

header .name {
    text-align: right;
    margin-right: 25px;
}

header .name a {
    font-size: 15px;
}

.admin-nav {
    grid-area: adminnavbar;
    display: none; /* the hidden class will active this in jquery */
    grid-template-columns: auto auto;
    grid-template-areas: 
        "adminham admininfo";
    background-color: #424242;
    color: #fff;
    position: fixed;
    min-height: 100vh;
    top: 77px;
    bottom:0;
    box-shadow: 5px 10px 18px blue;
    z-index: 2;
    opacity: 0.9;
}

.admin-nav .admin-title {
    background-color: #000;
    text-align: center;
}

.admin-nav .admin-links i {
    text-align: center;
    font-size: 25px;
}

.admin-nav .admin-links i a {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
}

.admin-nav a {
    padding: 1em;
    color: #fff;
}

.admin-nav section a {
    display: block;
}

main {
    overflow: auto;
}

.index-main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 15px;
    grid-template-areas: 
        "indexsearch"
        "indexintro"
        "indexmembership";
    justify-content: center;
    align-self: flex-end;
}

.index-main-tog {
    margin-left: 150px;
}

.index-search {
    grid-area: indexsearch;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 400px;
    background-color: azure;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.index-search h1 {
    padding-bottom: 50px;
}

.index-search  ::-webkit-input-placeholder {
    text-align: center;
}

.index-search  :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

.index-search  ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

.index-search  :-ms-input-placeholder {  
    text-align: center; 
}

.index-search input {
    background-color: #fff;
    border: none;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    box-shadow: 0 0 3px 3px #ccc;
    border-radius: 15px 15px 15px 15px;
    width: 500px;
    height: 35px;
    padding-left: 10px;
}

.main a, .index-main a {
    color: #000;
}

.index-main .main-intro {
    grid-area: indexintro;
    overflow: hidden;
    min-width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 5px;
    grid-template-areas: 
        "introparts introimages";
    justify-content: center;
    justify-items: center;
    padding-bottom: 50px;
}

.index-main .main-intro .intro {
    grid-area: introparts;
    line-height: 2em;
    min-width: 100%;
    justify-items: center;
}

#staticImg {
    grid-area: introimages;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    width: 100%;
    grid-gap: 2.5em;

}

.card {
    position: relative;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 400px;
}

.card-img {
    height: 300px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card figcaption { 
    padding: 2px 16px;
    border-top: 1px solid #000;
}

.card img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
}

.index-main #member {
    background-color: antiquewhite;
    grid-area: indexmembership;
    min-width: 100%;
    margin-top: 50px;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-areas: 
        "memberheader memberheader"
        "memberrequest memberinfo";
    justify-content: center;
}

.index-main #member > h3 {
    font-family: "Google Sans",Arial,sans-serif;
}

.index-main #member .member-header {
    grid-area: memberheader;
    text-align: center;
}

.index-main #member .member-info {
    grid-area: memberinfo;
}

.index-main #member .member-request {
    grid-area: memberrequest;
}

.reg-textarea * {
  vertical-align: top;
}

.index-main #member .member-request form.regform {
    display: table;
}

.index-main #member .member-request div.regform {
    display: table-row;
}

.index-main #member .member-request label, .index-main #member .member-request input {
    display: table-cell;
    margin-bottom: 10px;
}

.index-main #member .member-request i, #member span {
    padding-left: 10px;
    color: red;
    font-size: 9px;
}

.index-main #member span {
    font-size: 15px;
}

/* Search results style */

.search-header {
    grid-area: header;
}

.search-main {
    grid-area: main;
    margin: auto;
    min-height: 100vh;
    min-width: 95%;
    grid-template-columns: 80%;
    grid-template-rows: auto auto 1fr;
    grid-column-gap: 15px;
    grid-template-areas: 
        "searcherror"
        "searchname"
        "searchgrid";
    padding-top: 10px;
}

.search-error {
    grid-area: searcherror;
    min-height: 100vh;
    justify-items: center;
}

.search-error #staticImg {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
}

.slogo-search {
    grid-area: searchname;
    padding-bottom: 25px;
}

.search-grid {
    grid-area: searchgrid;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
    grid-template-areas: 
        "simages sproductinfo";
    justify-items: center;
}

.search-grid .skuimages {
    grid-area: simages;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto 1fr;
    width: 100%;
    grid-gap: 2.5em;
    justify-items: center;
}

.imagemessage {
    color: red;
    font-weight: 600;
}

.search-part-info {
    grid-area: sproductinfo;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 1fr;
    grid-gap: 0;
    grid-template-areas: 
        "export"
        "skudetails";
    justify-content: center;
}

.search-part-info .export-data {
    grid-area: export;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
        "excel skulist";
}

.search-part-info .export-data * {
    font-size: 15px !important;
}

.search-part-info .export-data .excel {
    grid-area: excel;
}

.search-part-info .export-data .addtolist {
    grid-area: skulist;
    text-align: right;
}

.search-part-info .export-data .excel {
    text-align: left;
}

.search-part-info .export-data .excel li {
    display: inline;
    line-height: 0;
    padding-right: 10px;
}

.search-part-info .export-data .excel ul {
    margin: 0;
    line-height: 0;
}

.search-part-info .skudetails {
    grid-area: skudetails;
    box-shadow: 5px 10px #888888;
}

.search-main table, .search-main table th, .search-main table td,  .search-main table tr{
    /* order: 5px solid black; */
    text-align: left;
}

.search-main table th {
    width: 200px;
    padding-right: 15px;
}

.search-main table {
    margin-bottom: 25px;
}

.indent50 * {
	border: 1px solid #000;
	padding: 10px;
	text-align: left;
}

.indent50 tr {
	border: 1px solid #000;
}

.indent50 td {
	min-width: 100px;
}

.indent50 {
    margin-left: 50px;
}

.skudetails {
    border: 1px solid #000;
    padding: 10px;
}

.skudetails tr {
    height: 25px;
}

.search-part-info thead th {
    font-size: 20px;
    border-radius: 0 50px 0 0;
    vertical-align: middle;
    height: 30px;
}

footer {
    grid-area: footer;
    min-height: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    align-items: center;
    text-align: center;
    background-color: #333;
    z-index: 1;
}

/* ADMIN STYLE */
.admin-main {
    grid-area: main;
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 75px auto auto;
    grid-gap: 15px;
    grid-template-areas: 
        "adminhead adminhead adminhead"
        "adduser showuser showuser"
        "regwait regwait regwait";
}

.admin-main .admin-head {
    grid-area: adminhead;
}

.admin-main .add-user {
    grid-area: adduser;
}


/* REGISTER STYLE */

.register-main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 1fr;
    grid-column-gap: 15px;
}

.register-fail {
    margin: auto;
    margin-top: 100px;
}

.register-main .reg-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

.register-main .reg-table caption {
    font-size: 1.5em;
    min-height: 35px;
    color: #fff;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.register-main .reg-table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

.register-main .reg-table th,
.register-main .reg-table td {
    padding: .625em;
    text-align: left;
}

.register-main .reg-table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/* LOGIN FORM STYLE */
.login-wrapper {
    display: grid;
    grid-gap: 15px;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "loginheader"
        "loginwrap"
        "footer";
}

.login-header {
    grid-area: loginheader;
}

.login-wrap {
    grid-area: loginwrap;
	display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    grid-template-areas: 
        "loghead"
        "logname"
        "logpass"
		"logcaptcha"
        "logsubmit"
        "logerror";
    justify-items: center;
	text-align: center;
}

.login-wrap .log-head {
	grid-area: loghead;
    margin-bottom: 50px;
}

.login-wrap form {
	width: 300px;
	margin-left: 50px;
}

.login-wrap form input {
    width: 200px;
	margin-bottom: 20px;
}

.login-wrap .log-name {
	grid-area: logname;
}

.login-wrap .log-pass {
	grid-area: logpass;
}

.login-wrap .log-captcha {
	grid-area: logcaptcha;
    margin-bottom: 25px;
}

.g-recaptcha {
    margin-left: 35px;
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.login-wrap .log-submit {
	grid-area: logsubmit;
    text-align: center;
}

.login-wrap .log-submit input {
        width: 100px;
}

.login-wrap .log-error {
	grid-area: logerror;
}

.login-wrap .emailError, .login-wrap .passwordError {
	position: absolute;
	margin-left: 10px;
	color: red;
}

.login-wrap .captchaError {
	margin-left: 10px;
	color: red;
}

/***************************************
*
*
* START mysearches.php
*
*
****************************************/

.my-search-main {
    grid-area: main;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto auto 1fr auto;
    grid-column-gap: 55px;
    grid-template-areas: 
        "mysearchgraph mysearchpie"
        "mysearchhead mysearchhead"
        "mysearchbody mysearchbody"
        "mysearchfoot mysearchfoot";
    margin-top: 50px;
    justify-content: center; 
}

.my-search-pie {
    grid-area: mysearchpie;
    max-height: 150px;
}

.my-search-graph {
    grid-area: mysearchgraph;
    max-height: 150px;
}

.my-search-head {
    grid-area: mysearchhead;
    display: grid;
    margin-top: 25px;
    justify-content: center;
}

.my-search-head table, .my-search-head table tr, .my-search-head table td {
    display: inline-block;
}

.my-search-body {
    grid-area: mysearchbody;
	margin-right: 25px;
	margin-left: 25px;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
        "searchresults searchcount";
}

.my-search-results {
    grid-area: searchresults;
}

.my-search-count {
    grid-area: searchcount;
}

.my-search-body a:hover {
	border-bottom: 1px solid #000;
}

.my-search-foot {
    grid-area: mysearchfoot;
}

.table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    max-width: 100%;
    table-layout: fixed;
}

.table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

.table th,
.table td {
    padding: .625em;
    text-align: left;
}

.table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table thead tr {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

/***************************************
*
*
* START User Management Style
*
*
****************************************/

.admin-main {
    grid-area: main;
    display: grid;
    height: 100vh;
    grid-template-columns: 95%;
    grid-template-rows: auto auto auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas: 
        "adminusernav"
        "adminheader"
        "admintop"
        "adminmiddle"
        "adminbottom";
    justify-content: center;
}

.admin-main .user-management-nav {
    grid-area: adminusernav;
    text-align: center;
}

.admin-main .admin-head {
    grid-area: adminheader;
}

.admin-main .add-user {
    grid-area: admintop;
}

.admin-main .add-user {
    grid-area: admintop;
}


.admin-main .user-management-nav nav li {
    display: inline-block;
    list-style-type: none;
    padding-left:30px;
    padding-right:30px;
}

.admin-main .user-management-nav nav ul {
    list-style-type: none;
}

.admin-main #addUser tr {
	padding: 5px;
}

.admin-main .active {
	border: 3px solid green;
}

.admin-main .disabled {
	border: 3px solid red;
}

/***************************************
*
*
* START MEDIA QUERIES
*
*
****************************************/
/* Change styles for span and cancel button on extra small screens */


@media screen and (max-width: 1200px) {
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-gap: 5px;
        grid-template-areas: 
            "mainlogo name"
            "navlinks navlinks" 
            "searchboxnav searchboxnav"
            "adminextra adminextra";
        justify-content: center;
    }
    
    header .main-logo h1{
        font-size: 15px;
    }

    header .main-logo {
        grid-area: mainlogo;
        grid-column: 1 / span 6;
    }
    
    header .name {
        grid-area: name;
        grid-column: 1 / span 6;
    }

    header .navlinks {
        grid-area: navlinks;
        grid-column: 1 / span 6;
        padding: 0;
        margin: 0;
        font-size: 15px;
    }

    header .navlinks section {
        display: inline-block;
        padding: 20px;
    }

    header .searchbox {
        grid-area: searchboxnav;
        grid-column: 1 / span 6;
        padding-bottom: 15px;
    }

    header .navlinks section {
        margin: 0;
        padding: 0;
    }
    
    header .admin-extra {
        grid-area: adminextra;
        grid-column: 1 / span 6;
    }
    
    .index-main {
        grid-area: main;
        display: grid;
        min-height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 15px;
        grid-template-areas: 
            "indexsearch"
            "indexintro"
            "indexmembership";
        justify-content: center;
    }
    
    .index-main .main-intro {
        grid-area: indexintro;
        min-width: 100%;
        grid-template-columns: auto;
        grid-template-areas: 
            "introparts" 
            "introimages";
        justify-content: center;
    }

    .index-main .main-intro .intro {
        grid-area: introparts;
        line-height: 2em;
        max-width: 10%;
        justify-self: center;
        margin-left: 25px;
    }
    
    .index-main .main-intro #staticImg {
        grid-area: introimages;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: auto;
        width: 90%;
        grid-gap: 2.5em;
        justify-items: center;
    }

    .index-main #member {
        display: grid;
        min-width: 90%;
        grid-template-columns: 100%;
        grid-gap: 5px;
        grid-template-areas: 
            "memberheader"
            "memberrequest" 
            "memberinfo";
        justify-content: center;
        padding-left: 25px;
    }
    
    .index-search input {
        width: 250px;
        height: 35px;
        padding-left: 10px;
    }
    
    .search-grid {
        grid-template-columns: auto;
        grid-template-areas: 
            "sproductinfo"
            "simages";
    }
    
    .skuimages {
        grid-area: simages;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-template-rows: auto;
        width: 100%;
        grid-gap: 2.5em;
    }
    
    .my-search-body {
        margin: auto;
        margin-left: 50px;
    }
    
    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
        max-width: 200px;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .card figcaption { 
      padding: 2px 16px;
        border-top: 1px solid #000;
    }

    .card img {
        object-fit: cover;
        width: 100%;
        padding: 15px;
    }

    .admin-nav {
        min-height: 100vh;
        top: 143px;
    }   
    
    .my-search-main {
        grid-area: main;
        display: grid;
        min-height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto 1fr auto;
        grid-column-gap: 55px;
        grid-template-areas: 
            "mysearchgraph"
            "mysearchpie"
            "mysearchhead"
            "mysearchbody"
            "mysearchfoot";
        margin-top: 50px;
    }
    
    .my-search-body {
        grid-area: mysearchbody;
        margin-right: 25px;
        margin-left: 25px;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
            "searchcount"
            "searchresults";
        justify-items: center;
    }
    
    .my-search-head table, .my-search-head table tr, .my-search-head table td {
        display: block;
    }
    
    .my-search-head table select, .my-search-head input {
        min-width: 150px;
    }
    
    .my-search-head table .search-button {
        min-width: 50px;
    }
    
    .my-search-head table tr {
        padding: 5px;
    }
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    header {
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-gap: 5px;
        grid-template-areas: 
            "mainlogo"
            "name"
            "navlinks" 
            "searchboxnav"
            "adminextra";
        justify-content: center;
    }    

    header .name {
        grid-area: name;
        grid-column: 1 /span 3 ;
        text-align: left;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    /* Force table to not be like tables anymore */
    .table {
        border: 0;
    }

    .table caption {
        font-size: 1.3em;
    }

    .table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
  
    .table td:last-child {
        border-bottom: 0;
    }
    
    .login-wrap {
        grid-area: loginwrap;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 10px;
        grid-template-areas: 
            "loghead"
            "logname"
            "logpass"
            "logcaptcha"
            "logsubmit"
            "logerror";
        margin-left: -45px;
    }
    

    
    .login-wrap .log-captcha {
        grid-area: logcaptcha;
        margin-bottom: 25px;
    }

    .g-recaptcha {

        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    
    
    
}

.show {
    display: grid;
}