* {
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    /*
    overflow-x: hidden;
    */
    display: grid;
    min-height: 100vh;
    grid-template-rows: 50px 200px 1fr 50px;
    grid-template-columns: 100vw;
    grid-template-areas: 
        "header"
        "banner"
        "main"
        "footer";
}

/* header styling */
header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    grid-template-areas: 
        "a c d";
    align-items: center;
    width: 100%;
    font-size: 2em;
    color: white;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1;
}

header .main-logo {
    grid-area: a;
    grid-column: 1 / 1;
}

.main-logo h1 {
    font-size: 25px;
}

header .search {
    grid-area: c;
    grid-column: 11 / 11;
    text-align: right;
    font-size: 25px;
}

header .name {
    grid-area: d;
    grid-column: 12 / 12;
}

header .name a {
    font-size: 15px;
}

/***************************** 
** index.php grid 
******************************/
.banner {
    grid-area: banner;
    background: url('/assets/images/warehouse-2.jpg') center #333 no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 15% 70%;
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: 
        "logo text";
}

.logo {
    grid-area: logo;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.text {
    grid-area: text;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.banner-text {
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 5px #000;
}


.banner-bigtext {
    font-weight: bold;
    font-size: 5em;
    color: #fff;
    z-index: 1;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    margin-top: 20px;
        justify-content: center;
    align-self: center;
    align-items: center;
    grid-template-areas: 
        "big small";
}

/* index slideshow */

.main #slideshow {
    grid-area: big;
}

.main #slideshow > article {
    width: 100%;
    margin: auto;
}

.main #slideshow article img {
    width: 100%;
    object-fit: cover;
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.main #staticImg {
    grid-area: small;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-self: center;
    align-items: stretch;
}

.main #staticImg > img {
    max-width: 100%;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    justify-content: center;
    align-self: center;
    align-items: center;
}

/* Search results style */

.partInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-gap: 5px;
    align-self: center;
    justify-self: center;
    box-shadow: 5px 5px 5px 5px #888888;
    grid-template-areas: 
        "a a a b"
        "a a a d"
        "a a a e";
}

/* search page styling */

.search-wrapper {
    /*
    overflow-x: hidden;
    */
    display: grid;
    min-height: 100vh;
    grid-template-rows: 50px 50px 1fr 50px;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "navbar"
        "smain"
        "footer";
}

.search-main {
    grid-area: smain;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "simages"
        "sproductinfo";
}

.search-main * {

}

.search-images {
    grid-area: simages;
}

.search-part-info {
    grid-area: sproductinfo;
}


footer {
    grid-area: footer;
    color: #fff;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    align-items: center;
    text-align: center;
    background-color: #333;
    z-index: 1;
}

/* hyperlink styling */

a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #ff0;
}



/* login form style */

.login-wrap {
	display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(5, 100px);
    height: 600px;
    grid-gap: 10px;
	align-self: center;
    justify-self: center;
	overflow: hidden;
	text-align: center;
    grid-template-areas: 
        "a a a"
        "b b b"
        "c c c"
		"d d d"
        "e e e";
}

.login-wrap .a {
	grid-area: a;
	width: 100%;
	align-self: center;
    justify-self: center;
	text-align: center;
}

.login-wrap h1 {
	font-size: 25px;
}

.login-wrap form {
	width: 500px;
	margin-left: 50px;
}

.login-wrap form input {
	width: 290px;
	margin-bottom: 20px;
}

.login-wrap .b {
	grid-area: b;
}

.login-wrap .c {
	grid-area: c;
}

.login-wrap .d {
	grid-area: d;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 25px;
}

.login-wrap .e {
	grid-area: e;
    text-align: center;
}

.login-wrap .f {
	grid-area: f;
}

.login-wrap .emailError, .login-wrap .passwordError {
	position: absolute;
	margin-left: 10px;
	color: red;
}

.login-wrap .captchaError {
	margin-left: 10px;
	color: red;
}



/***************************************
*
*
* START MEDIA QUERIES
*
*
****************************************/
/* Change styles for span and cancel button on extra small screens */


@media screen and (max-width: 1600px) {
    span.psw {
        display: block;
        float: none;
    }
    
    .cancelbtn {
        width: 100%;
    }
    
    .main {
        grid-template-columns: auto auto;
        justify-content: center;
        align-self: center;

        grid-template-areas: 
            "big"
            "small";
    }
    
    #slideshow {
        justify-content: center;
        align-self: center;
    }

    .banner-text {
        font-size: 25px;
    }
    
    .main-logo h1 {
        font-size: 25px;
    }
    
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 10px;
        grid-template-areas: 
            "a" 
            "c" 
            "d";
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
    }

    header .main-logo {
        grid-area: a;
        text-align: center;
        grid-column: 1 / 12;
    }

    .main-logo h1 {
        font-size: 25px;
    }

    header .search {
        grid-area: c;
        text-align: center;
        grid-column: 1 / 12;
        font-size: 25px;
    }

    header .name {
        grid-area: d;
        text-align: center;
        grid-column: 1 / 12;
    }
    
    .wrapper {
    /*
    overflow-x: hidden;
    */
    display: grid;
    grid-template-rows: 100px 200px 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "banner"
        "main"
        "footer";
}
    
}


 