* {
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/* Search results style */

.partInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-gap: 5px;
    align-self: center;
    justify-self: center;
    box-shadow: 5px 5px 5px 5px #888888;
    grid-template-areas: 
        "a a a b"
        "a a a d"
        "a a a e";
}

.partInfo .partImg {
    grid-area: a;
}

.partInfo .partImg img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.partInfo .partDetails {
    grid-area: b;
}

.partInfo .partRev {
    grid-area: d;
}

.partInfo .partSupplier {
    grid-area: e;
}

.partInfo table, .partInfo th, .partInfo td {
    border: 1px solid black;
    border-collapse: collapse;  
}

.partInfo th, .partInfo td {
    padding: 15px;  
}

/* header styling */
header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        "a b c d";
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 2em;
    color: white;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1;
}

header .main-logo {
    grid-area: a;
    grid-column: 1 / 1;
}

.main-logo h1 {
    font-size: 25px;
}

header .search {
    grid-area: c;
    grid-column: 11 / 11;
    text-align: right;
    font-size: 25px;
}

header .name {
    grid-area: d;
    grid-column: 12 / 12;
}

header .name a {
    font-size: 15px;
}

/***************************** 
** index.php grid 
******************************/
.searchGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-gap: 5px;
    grid-template-areas: 
        "a a a a"
        "b b b c"
        "b b b e";
}

.leading {
    grid-area: a;
    height: 240px;
    padding-left: 10px;
    color: white;
    background: url('/assets/images/warehouse.jpg') center #333 no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 5px #000;
}

.leading-bigtext {
    margin-right: 60px;
    font-weight: bold;
    font-size: 24vw;
}

.leading-text {
    max-width: 900px;
    font-size: 2.2em;
    line-height: 1.4em;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
}

.searchGrid #slideshow {
    grid-area: b;
    width: 95%;
    margin-left: 15px;
}

.searchGrid .searchForm {
    grid-area: c;
}

/* index slideshow */
#slideshow { 
    position: relative; 
    top: -35px;
}

#slideshow > article { 
    position: absolute; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    padding: 10px; 
}

#slideshow .article-img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    
}

.searchForm button, .searchForm input {
    font-size: 20px;
}

.searchGrid .information {
    grid-area: e;
    margin-top: 15px;
}

footer {
    color: #fff;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    align-items: center;
    text-align: center;
    height: 5vh;
    background-color: #333;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

/* hyperlink styling */

a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #ff0;
}



/*
article {
    position: relative;
}

.article-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.article-title {
    position: absolute;
    bottom: 0;
    width: 50%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

*/
/* login form style */

.login-wrap {
	display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(5, 100px);
    height: 600px;
    grid-gap: 10px;
	align-self: center;
    justify-self: center;
	overflow: hidden;
	text-align: center;
    grid-template-areas: 
        "a a a"
        "b b b"
        "c c c"
		"d d d"
        "e e e";
}

.login-wrap .a {
	grid-area: a;
	width: 100%;
	align-self: center;
    justify-self: center;
	text-align: center;
}

.login-wrap h1 {
	font-size: 25px;
}

.login-wrap form {
	width: 500px;
	margin-left: 50px;
}

.login-wrap form input {
	width: 290px;
	margin-bottom: 20px;
}

.login-wrap .b {
	grid-area: b;
}

.login-wrap .c {
	grid-area: c;
}

.login-wrap .d {
	grid-area: d;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 25px;
}

.login-wrap .e {
	grid-area: e;
    text-align: center;
}

.login-wrap .f {
	grid-area: f;
}

.login-wrap .emailError, .login-wrap .passwordError {
	position: absolute;
	margin-left: 10px;
	color: red;
}

.login-wrap .captchaError {
	margin-left: 10px;
	color: red;
}



/***************************************
*
*
* START MEDIA QUERIES
*
*
****************************************/
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 700px) {
    span.psw {
        display: block;
        float: none;
    }
    
    .cancelbtn {
        width: 100%;
    }
    
    .indexSearch {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 100px;
        grid-template-areas: 
            "b b b b"
            "a a a a"
            "a a a a";
    }
    
    .leading-bigtext {
        margin-right: 60px;
        font-weight: bold;
        font-size: 24vw;
    }

    .leading-text {
        max-width: 900px;
        font-size: 1.2em;
        line-height: 1.4em;
        color: #fff;
        text-shadow: 0px 0px 5px #000;
    }
    
    .searchGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto 1fr;
        grid-gap: 5px;
        grid-template-areas: 
            "a a a a"
            "c c c c"
            "e e e e"
            "b b b b";
    }
    
    .searchGrid .searchForm {
        text-align: center;
    }
    
    .searchGrid .information {
        margin-left: 15px;
    }
    
    header .main-logo h1 {
        font-size: 15px;
    }

    .main-logo h1 {
        font-size: 25px;
    }
    
    header {
        grid-template-areas: 
        "a a a a"
        "b b b b"
        "c c c c";
        grid-template-rows: auto auto auto;
        align-self: center;
        justify-self: center;
        text-align: center;
    }
    
    header .main-logo {
        grid-area: a;
        justify-content: center;
    }

    header .search {
        grid-area: b;
        font-size: 15px;
        align-self: center;
        justify-self: center;
        text-align: center;
    }

    header .name {
        grid-area: c;
        justify-content: center;
    }
    
    header .name a {
        font-size: 15px;
    }
} 

@media (min-width: 700px) {
    .leading {
        display: flex;
        align-items: center;
    }
    
    .leading-bigtext {
        font-size: 140px;
    }
    
    .heading {
        padding-right: 10px;
        font-size: 16px;
    }
    .main-logo {
    height: 25px;
    margin-right: 20px;
    }
}